{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class="main">
    <h1>TODO LIST</h1>
    <table class="todo" border="2px solid">
        <thead>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="#">Update</a>
                    <br>
                    <a href="#">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>

{% endblock %}